{% extends 'base.html' %}
{% block content %}
<h1>Category: {{ category }}</h1>
{% if auctions %}
    <div class="auction-list">
        {% for auction in auctions %}
            <div class="auction-item">
                <img src="{{ url_for('static', filename=auction.image) }}" alt="{{ auction.title }}" class="auction-image">
                <h2>{{ auction.title }}</h2>
                <p>Starting Price: {{ auction.starting_price }} Ksh</p>
                <p>Ends: {{ auction.end_time }}</p>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No auctions available in this category.</p>
{% endif %}
{% endblock %}