{% extends 'base.html' %}
{% block content %}
<h1>Category: {{ category }}</h1>
{% if auctions %}
    <div class="auction-list">
        {% for auction in auctions %}
            <a href="{{ url_for('auction_details', auction_id=auction.id) }}" style="text-decoration: none; color: inherit;">
                <div class="auction-item">
                    <img src="{{ url_for('static', filename=auction.image) }}" alt="{{ auction.title }}" class="auction-image">
                    <h2>{{ auction.title }}</h2>
                    <p>Starting Price: {{ auction.starting_price }} Ksh</p>
                    <p>Ends: {{ auction.end_time }}</p>
                </div>
            </a>
        {% endfor %}   
    </div>
    <!-- Pagination controls -->
    <div class="pagination">
        {% if auctions.has_prev %}
            <a href="{{ url_for('view_category', category=category, page=auctions.prev_num) }}" class="prev">Previous</a>
        {% endif %}
        
        {% for page_num in range(1, auctions.pages + 1) %}
            <a href="{{ url_for('view_category', category=category, page=page_num) }}"
               class="{% if page_num == auctions.page %}active{% endif %}">
                {{ page_num }}
            </a>
        {% endfor %}
        
        {% if auctions.has_next %}
            <a href="{{ url_for('view_category', category=category, page=auctions.next_num) }}" class="next">Next</a>
        {% endif %}
    </div>
{% else %}
    <p>No auctions available in this category.</p>
{% endif %}
{% endblock %}